.groups{
    margin: 0 auto;
    text-align:center;
    background-color: $b2;
    padding: 10px;
    
    .calendar{
        font-style:italic;
    }
    .final{
        font-style:italic;
    }
    a{
        color: $g1;
    }
    
    table{
        width:100%;
        max-width:100%;
        margin-bottom:1rem;
    }
    
    td{
        margin: 0 auto;
        padding:10px;
    }
}
