.groups{
    margin: 0 auto;
    text-align:center;
    width: 100%;
    background-color: $b2;
    padding: 10px;
    .calendar{
        font-style:italic;
    }
    .final{
        font-style:italic;
    }
    td{
        margin: 0 auto;
        padding:10px;
    }
}
